@charset "utf-8";

  /* id em HTML= # em CSS(pode usar somente uma vez)
     class em HTML= . em CSS(pode usar varias vezes) */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-color: #79D856;
    font: normal 1em 'Dancing Script', cursive;
}

#Prin {
     color: white;
     background-color: #53943B;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}

#CSS {
    text-align: center;
    background-color: #53943B;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1C3214;
}

h2 {
    color: #40722E;
    font-size: 2.5em;
}

p {
    text-align: justify;
    text-indent: 25px;
    font-size: 1.5em;
}

p#g {
    text-align: center;
}

.basico {
    color: #40722E;
}

.intermediario {
    color: #e8eb40;
}

.avancado {
    color: #d42e2e;
}