@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
    :root{
        --cor0: #c5ebd6;
        --cor1: #83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --fonte-padrao: arial, verdana, helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue', cursive;
        --fonte-android: 'Android', cursive;
}
  * {
        margin: 0px;
        padding: 0px;
    }
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    text-align: center;
}
header > h1{
    font-family: var(--fonte-padrao);
    color: white;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}
header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.418);
}
nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: var(--cor3);
    border-radius: 10px;
    color: var(--cor5);
}
main {
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418)  ;
}
main p{
    margin: 15px 0px;
    line-height: 2em;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.2em;
}
main a{
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
}
main a:hover{
    color: var(--cor3);
    text-decoration: underline;
    transition: color 0.5s;
}
main a::after{
    content: "\00A0\1F517";
}
main strong{
    color: var(--cor3);
    font-weight: bolder;
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    text-indent: 17px;
    font-weight: normal;
    font-size: 1.3em;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    padding: 10px 10px 0px 10px;
    margin: 0px -20px 0px -20px;
}
div.video > iframe{
    display: block;
    border-radius: 10px;
    margin: auto;
    width: 97%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.418);
}

aside h3{
    color: white;
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\00A0\00A0";
}
footer {
    background-color: var(--cor5);
    text-align: center;
    padding: 5px;
    color: lightgray;
    font-size: 0.8em;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
footer a:hover {
    text-decoration: underline;
}