@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
:root {
     --background: #0C1B33;
     --background-light: #799496;
     --text-strong: #9338FF;

     --font-text: "geist mono", monospace;
     --font-heading: 'Montserrat', sans-serif;
     --font-pa: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 700px;
}
 .topo {
    display: flex;
    align-items: center;
     background-color: var(--background);
    color: white;
    font-family: var(--font-pa);
    padding: 65px;
    clip-path: polygon( 
        0% 0%, /* 1. Canto superior esquerdo */

        100% 0%,  /* 2. Canto superior direito */

        100% 85%,/* 3. Desce a lateral direita a  até 85% */

        25% 85%, /* 4. Anda para a esquerda até embaixo da foto */

        15% 100%, /* 5. A PONTA: desce até o 
        final (100%) deslocada para a esquerda */

        5% 85%, /* 6. Sobe de volta para 85% criando o outro lado da ponta */

        0% 85%   /* 7. Fecha o canto inferior esquerdo */
    );
}
header h1 {
    font-family: var(--font-heading);
    color: var(--text-strong);
    font-weight: 450;
    margin-bottom: 10px;
}
.header-text {
    margin: 0 auto;
}
header p {
    font-size: 0.9em;
    font-family: var(--font-text);
}
.ft {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.divft {
  width: 150px;
  height: 150px;
}
.ft:hover {
    transform: scale(1.1);
    border: 2px solid var(--text-strong);
}