@charset "UTF-8";

* {     
    font-family: Arial, Helvetica, sans-serif;
}
body { /*Configurações globais da css*/
    background-image: linear-gradient(
        to right, #45214A,#323050 )
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #20102275;
}

h1 {
    color: #5D8A66;
    text-align: center;
    text-shadow: 1px 1px 2px #3c5841d3;

}

h2 {
    color: #1A6566;
}